extends layout

block content
  h1= title

  h2 Add New Activity
  
  form(action="/addactivity", method="post")
    input(type="text", name="name", placeholder="Name")
    br
    select(name="session")
      option(value='morning') Morning
      option(value='lunch') Lunch
      option(value='afternoon') Afternoon
    br
    input(type="hidden", name="diaryId", value=diaryId, placeholder="Description")
    br
    input(type="text", name="description", placeholder="Description")
    br
    input(type="date", name="startDate", placeholder="StartDate")
    br
    input(type="date", name="endDate", placeholder="EndDate")
    br
    input(type="text", name="imageUrl", placeholder="ImageUrl")
    br
    select(name="isPublished")
      option(value='true') True
      option(value='false') False
    br
    input(type="submit", value="Submit")

