extends layout

block content
  a(href='users') back
  h1 Add/Edit User

    form(action="/edituser", method="post")
   
      input(type="text", name="name", value=user.name, placeholder="Name")
      br
      input(type="hidden", name="userId", value=user.id, placeholder="UserId")
      br
      input(type="text", name="username", value=user.username, placeholder="UserName")
      br
      input(type="email", name="email", value=user.email, placeholder="Email")
      br
      select(name="role")
        option(value='admin') Admin
        option(value='parent') Parent
        option(value='guardian') Guardian
      br
      input(type="submit", value="Submit")

 
