extends layout

block content
  a(href='home') back
  h1 Diaries
 
  table
    th Name
    th Owner
    th Delete?
    for val in diaries
      tr
        td
          a(href='/diary?diaryId=' + val.id) #{val.name]
        td GuardianId: #{val.ownerId}
        td
          a(href='deleteDiary?diaryId='+val.id) delete
  
  br
  a(href='adddiary') Add New Diary
