extends layout

block content
  h1= title
 
  table
    for val in diaries
      tr
        td
          a(href='/diary?diaryId=' + val.id + '&token=' + token) #{val.name]
        td
          a(href='#') delete
