extends layout

block content
  h2 Welcome to the Tropical Diary admin portal

  a(href="/diaries") Manage Diaries
  br
  br
  a(href="/users?role=admin") Manage Admins
  br
  br
  a(href="/users?role=parent") Manage Parents
  br
  br
  a(href="/users?role=guardian") Manage Guardians
