extends layout

block content
  h2 Welcome to the Tropical Diary admin portal

  a(href="/diaries") Manage Diaries
  br
  br
  for val in roles
    a(href="/users?role=#{val.name}&roleId=#{val.id}") Manage #{val.description}
    br
    br
