extends layout

block content
  h1= title
  p Tropical Diary Admin Portal 
      
  form(action="/home", method="post")
    select(name="loginType")
      option(value='admin') Admin
      option(value='guardian') Guardian
    input(type="text", name="email", value="admin@tropical.com", placeholder="Email")
    input(type="password", name="password", value="xxx", placeholder="Password")
    input(type="submit", value="Login")




