extends layout

block content
  a(href='home') back
  h1 Users

  table
    th Name
    th email
    th role
    th edit

    for val in users
      tr
        td #{val.name}
        td #{val.email}
        td #{role}    
        td 
          a(href='/edituser?userid=#{val.id}') edit
  br
  a(href='adduser') Add New User
